// ## Colors

// ### Primary

$Light_red: hsl(0, 100%, 67%);
$Orangey_yellow: hsl(39, 100%, 56%);
$Green_teal: hsl(166, 100%, 37%);
$Cobalt_blue: hsl(234, 85%, 45%);

// ### Primary background

$Light_red_bg: hsla(0, 100%, 67%, 0.07);
$Orangey_yellow_bg: hsla(39, 100%, 56%, 0.07);
$Green_teal_bg: hsla(166, 100%, 37%, 0.07);
$Cobalt_blue_bg: hsla(234, 85%, 45%, 0.07);

// ## Gradients
// ## backgrounds

$Light_slate_blue: hsl(252, 100%, 67%);
$Light_royal_blue: hsl(241, 81%, 54%);
$Light_royal_fade: hsl(241, 100%, 65%);

// ## circle

$Violet_blue: hsla(256, 72%, 46%, 1);
$Persian_blue: hsla(241, 72%, 46%, 0);

// ### Neutral

$White: hsl(0, 0%, 100%);
$Pale_blue: hsl(221, 100%, 96%);
$Light_lavender: hsl(241, 100%, 89%);
$Dark_gray_blue: hsl(224, 30%, 27%);
